site_name: Documentaci贸n El Alto
site_url: https://github.com/

theme:
  name: material
  logo: https://static.wixstatic.com/media/ad57ff_f46e72eae00f4da19063be0fe0226f28%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/ad57ff_f46e72eae00f4da19063be0fe0226f28%7Emv2.png
  favicon: https://static.wixstatic.com/media/ad57ff_f46e72eae00f4da19063be0fe0226f28%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/ad57ff_f46e72eae00f4da19063be0fe0226f28%7Emv2.png
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  features:
    - content.action.edit
    - content.action.view
    - content.action.versions
    - navigation.footer
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - navigation.sections
    - toc.integrate
    - navigation.top

  palette:
    # dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark Mode
      primary: green
      accent: deep-purple

    # light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light Mode
      primary: blue
      accent: deep-purple

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences  
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format  

extra:
  annotate:
    json: [.s2]
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ElAlto23
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/
    - icon: material/web
      link: https://www.gestionelalto.cl/

copyright: Copyright &copy; 2025 Desarrollo El Alto

nav:
  - " Home": index.md
  - "Backend":
    - " Levantamiento": 
      - "Windows": backend/levantamiento/windows.md
      - "Linux": backend/levantamiento/linux.md
      - "WSL": backend/levantamiento/wsl.md
    - " Ambientes":
      - "Pruebas": backend/ambientes/pruebas.md
      - "Dev": backend/ambientes/dev.md
      - "Prod": backend/ambientes/prod.md
    - " SAP Business Layer": 
      - "Introducci贸n": backend/sap/que-es-sap.md
      - "Levantar": backend/sap/levantar.md
      - "Postman": backend/sap/postman.md
      - "Draft Mode": backend/sap/draft.md
    - " Websocket":
      - "Introducci贸n": backend/websocket/intro.md
      - "Levantar": backend/websocket/levantar.md
      - "Conexiones": backend/websocket/conexiones.md
    - " Tracmin":
      - "Estructura": backend/tracmin/estructura.md
      - "API Seguridad": backend/tracmin/seguridad.md
      - "API Viajes":
        - "Post Trip": backend/tracmin/viajes/api-viajes.md
        - "Post Trip Tara": backend/tracmin/viajes/post-trip-tara.md
        - "Post Crear Viajes": backend/tracmin/viajes/crear-viaje.md
        - "Buscar Cancelado": backend/tracmin/viajes/buscar-cancelado.md
      - "API Fotos":
        - "Post Fotos": backend/tracmin/fotos/upload_photo.md
        - "Post IA": backend/tracmin/fotos/procesamiento_ia.md
        - "Subir Fotos Pendientes": backend/tracmin/fotos/upload_photo_pending.md
      - "API Gu铆as":
        - "Crear Gu铆as": backend/tracmin/gu铆as/crear-guias.md
        - "Cancelar Gu铆as": backend/tracmin/gu铆as/cancel-guias.md
  - "Frontend":
    - "锔 Next.js":
      - "Introducci贸n": frontend/react/que-es-react.md
      - "Levantar": frontend/react/levantar.md
    - " React Native":
      - "Introducci贸n": frontend/react/que-es-react-native.md
      - "Levantar": frontend/react/levantar-react-native.md
    - " Tracmin":
      - "Introducci贸n": frontend/tracmin/que-es-tracmin.md
      - "Next.js":
        - "Admin":
          - "Dashboard": frontend/tracmin/admin/dashboard.md
        - "User":
          - "Login": frontend/tracmin/user/login.md
      - "React Native":
        - "User":
          - "Login": frontend/tracmin/user/login.md